#root {
  color: #f0f0f0;
  max-width: 1280px;
  margin: 0 auto;
}

.cocktail-detail-image {
  width: 300px;
  height: 300px;
}
.meal-detail-image {
  width: 300px;
  height: 300px;
}

.quill {
  color: #f0f0f0;
  height: 550px;
}

.quill span {
  color: #f0f0f0;
}
.quill svg {
  background-color: #f0f0f0;
}